.login-button {
  gap: 5px;
  cursor: pointer;
  display: flex;
}
.nav-section {
  display: flex;
  justify-content: center;
}
.menu-list {
  display: flex;
  list-style-type: none;
  gap: 20px;
  align-items: center;
  padding: 0px;
}
.menu-area {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.menu-area div:first-child {
  width: 182.4px;
}
.search-box {
  border: none;
  border-bottom: 2px black solid;
  height: fit-content;
}
.search-box input {
  border: none;
}
.card-img:hover {
  transform: scale(1.05);
}
.col:hover {
  cursor: pointer;
}
.login-area {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}
