.login-button {
  gap: 5px;
  cursor: pointer;
  display: flex;
}
.nav-section {
  display: flex;
  justify-content: center;
}
.menu-list {
  display: flex;
  list-style-type: none;
  gap: 15px;
  align-items: center;
  padding: 0px;
}
.menu-area {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.menu-area div:first-child {
  width: 150px;
}
.search-box {
  border: none;
  border-bottom: 2px black solid;
  height: fit-content;
  width: 150px;
}
.search-box input {
  border: none;
  width: 134px;
}
.card-img:hover {
  transform: scale(1.05);
}
.col:hover {
  cursor: pointer;
}
.login-area {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}
.product-img {
  display: flex;
  justify-content: flex-end;
}
.dropdown {
  border: 1px black solid;
  width: 120px;
  border-radius: 7px;
}
.product-detail-button {
  width: 100%;
}
.container div {
  margin-bottom: 10px;
}
